/src/test/java/org/example/AppTest.java
/target/classes/org/example/App$1.class
/target/classes/org/example/App.class
/target/classes/org/example/Person.class
/target/test-classes/org/example/AppTest.class
